@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 0;
    margin: 0;
    
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}


.hidden {
    opacity: 0;
    transition: all 2s;
    transform: translateX(-100%)
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0)
}

.phone {
    margin-top: -50px;
    margin-left: -300;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    visibility: collapse;
    font-family: fantasy;
    color: white;
}
.dobbydrop button {
    background-color: #000000;
    color: white;
    border: none;
    margin-left:0px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.dobbydrop button:focus + .dobbycontent {
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform;
    display: block;
        word-wrap: break-word;
  }
.dobbyspline {
    height: 500px;
    width: 800px;
}
.dobbybutton {
    color: white;
    background-color: #181818;
    border-color: #181818;
    border-radius: 20px;
    cursor: pointer;   
    font-size: 25px; 
    height: 80px;
    width: 150px;
    border-style: solid;
    transition: background-color 1s;


}
.dobbybutton:hover {
    opacity: 0.4;
    background-color: #2b2b2b;
}
.dobbycontent {
    display: none;
    width: 675px;
    text-align: center;
    text-align: left;

}

.dobbybutton:active {
    opacity: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15)
}
.breathe {
    height: 600;
    width: 500;
    z-index: -1;
}

.skills {
    font-size: 125px;
}
.projects {
    font-size: 125px;
}

.cert1 {
    width: 300px;
    margin-left: -1000px;
    transition: width 1.5s;
}
.code1 {
    width: 100px;
    margin-left: -1000px;
    transition: width 1.5s;

}
.code1:hover {
    width: 400px;
}
.cert1:hover {
    width: 700px;

}
.revilio1 {
    margin-bottom: 100px;
    margin-top: 150px;


}
.skillspline {
    height: 800px;
    width: 1500px;
}
.reviliocontent {
    display: none;
    width: 675px;
    text-align: center;
    text-align: left;
}

@media only screen and (max-width: 414px) {
    .text {
        visibility: collapse;
    }
    .phone {
        visibility: visible;
    }
    .home h1 {
        margin-top: 0px;
        margin-left: -250px;
        margin-right: auto;
        text-align: center;
        font-size: 50px;
        font-family: fantasy;
        color: white;
    }
    .dobbyspline {
        height: 800px;
        width: 400px;
    }
    .breathe {
        height: 400px;
        width: 400px;
        margin-left: 10px
    }
    .projects {
        font-size: 75px;
    }
    .skills {
        font-size: 75px;
    }
    .skillspline {
        height: 750px;
        width: 1300px;
    }
    .dobbycontent {
        width: 375px;
    }
    .cert1 {
        width: 300px;
        margin-left: -900px;
        transition: width 1.5s;
    }
    .cert1:hover {
        width: 400px;
    }
    .code1 {
        display: none;
    }
    .reviliocontent {
        width: 375px;
    }
}
